In [1]:
!pip install pysus

Collecting pysus
  Downloading https://files.pythonhosted.org/packages/4e/1d/b0f4af2884ba365f01c51993963d2a7db7e865027687b999d0376cdf61a4/PySUS-0.4.8.tar.gz (3.2MB)
     |████████████████████████████████| 3.2MB 7.4MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pysus) (1.0.5)
Collecting dbfread
  Downloading https://files.pythonhosted.org/packages/4c/94/51349e43503e30ed7b4ecfe68a8809cdb58f722c0feb79d18b1f1e36fe74/dbfread-2.0.7-py2.py3-none-any.whl
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pysus) (1.14.2)
Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 8.4MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pysus) (2.23.0)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.6/dist-packages (from pysus) (0.14.1)
Collecting fastparquet
  Downloading https://files.pythonhosted.org/packages/28/b9/844e32d0e3739e5695057dff3a3b9f4abc0fcccff466fdaadb8fedb0ee1d/fastparquet-0.4.1.tar.gz (28.6MB)
     |████████████████████████████████| 28.6MB 150kB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->pysus) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pysus) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pysus) (2018.9)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi>=1.0.0->pysus) (2.20)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder->pysus) (0.16.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder->pysus) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder->pysus) (7.1.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pysus) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pysus) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pysus) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pysus) (2.10)
Requirement already satisfied: numba>=0.28 in /usr/local/lib/python3.6/dist-packages (from fastparquet->pysus) (0.48.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from fastparquet->pysus) (20.4)
Collecting thrift>=0.11.0
  Downloading https://files.pythonhosted.org/packages/97/1e/3284d19d7be99305eda145b8aa46b0c33244e4a496ec66440dac19f8274d/thrift-0.13.0.tar.gz (59kB)
     |████████████████████████████████| 61kB 8.1MB/s
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder->pysus) (4.4.2)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.28->fastparquet->pysus) (0.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba>=0.28->fastparquet->pysus) (49.6.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->fastparquet->pysus) (2.4.7)
Building wheels for collected packages: pysus, fastparquet, thrift
  Building wheel for pysus (setup.py) ... done
  Created wheel for pysus: filename=PySUS-0.4.8-cp36-cp36m-linux_x86_64.whl size=1384445 sha256=4bade903ab443e3fad4e96f154f2ad4af94c0d4fb837b89cee058bbdaf9908a5
  Stored in directory: /root/.cache/pip/wheels/bf/06/65/2d6e4175e25a37bf05a96b83aa5e7ce6b50f905ecc1181b913
  Building wheel for fastparquet (setup.py) ... done
  Created wheel for fastparquet: filename=fastparquet-0.4.1-cp36-cp36m-linux_x86_64.whl size=7125488 sha256=4be13d02b29f242c9738cd02175b016543c43c057039b1387ccf276f7e913a88
  Stored in directory: /root/.cache/pip/wheels/10/45/cf/492ccb908adde1dd2551bb509a56e4096cce9487167f525120
  Building wheel for thrift (setup.py) ... done
  Created wheel for thrift: filename=thrift-0.13.0-cp36-cp36m-linux_x86_64.whl size=345221 sha256=0f665606de94147f620794c4e4b02f8d25108cf3af63b919cc5eb3f81c74a906
  Stored in directory: /root/.cache/pip/wheels/02/a2/46/689ccfcf40155c23edc7cdbd9de488611c8fdf49ff34b1706e
Successfully built pysus fastparquet thrift
Installing collected packages: dbfread, ratelim, geocoder, thrift, fastparquet, pysus
Successfully installed dbfread-2.0.7 fastparquet-0.4.1 geocoder-1.38.1 pysus-0.4.8 ratelim-0.1.6 thrift-0.13.0

In [2]:
from pysus.online_data.sinasc import download

In [3]:
df = download('SE', 2015)

In [4]:
df.head()

  contador ORIGEM CODESTAB CODMUNNASC  ... CODPAISRES TPROBSON PARIDADE KOTELCHUCK
0        1      1              280510  ...                  11        1          9
1        2      1              280270  ...                  11        1          9
2        3      1              280440  ...                  11        1          5
3        4      1  2421534     280440  ...                  10        1          3
4        5      1  2799782     291650  ...                  03        1          2

[5 rows x 61 columns]

In [5]:
from pysus.online_data.SIM import download

In [6]:
df = download('ba', 2007)

In [7]:
df.head()

  CONTADOR TIPOBITO   DTOBITO HORAOBITO  ... FONTEINV DTRECEBIM UFINFORM CB_PRE
0        1        2  30072007      1130  ...           19102007       29   C229
1        2        2  04072007      1140  ...           19102007       29    R98
2        3        2  25082007      1500  ...           19102007       29    I10
3        4        2  11092007      1820  ...           19102007       29   G839
4        5        2  09082007      1640  ...           24102007       29   I499

[5 rows x 54 columns]